<md-toolbar class="md-toolbar-tools">
    <div layout="row" layout-fill layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <md-icon ng-show="isAuthenticated()"
                     ng-controller="SidenavCtrl"
                     ng-click="toggleLeft()"
                     style="margin-right:1em">menu
            </md-icon>
            <span flex>{{$root.title}}</span>
        </div>
        <div layout="row" layout-align="end center">
            <md-icon ng-show="isAuthenticated()"
                     ng-controller="SidenavCtrl"
                     ng-click="toggleRight()"
                     style="margin-left:1em">gamepad
            </md-icon>
        </div>
    </div>
</md-toolbar>