<div layout="row" layout-align="space-between center">
    <div class="logo"></div>
    <div class="menu" layout="row" layout-align="end center">
        <ul>
            <li><a class="md-button" ui-sref="home">Home</a></li>
            <li><a class="md-button" ui-sref="lists">My lists</a></li>
            <li><a class="md-button" ui-sref="favourites">Favourites</a></li>
            <li><a class="md-button" ui-sref="products">Products</a></li>
            <li><a class="md-button" ui-sref="login">Login</a></li>
        </ul>
    </div>
</div>

<md-menu>
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="ctrl.redial($event)">
                <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                Redial
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                <md-icon md-svg-icon="call:voicemail"></md-icon>
                Check voicemail
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>